In [6]:
#FUNCTION:-
#Function gives us the  feature of reusability of an operation multiple time
#Function is 2 types i.e:-   1. inbuild function(print(),sort(),........)  2.user define function
def factorial(n):
    prod=1
    for x in range(1,n+1):
        prod=prod*x
    return prod

In [9]:
a=factorial(5)
print(a)

120

In [10]:
for i in range(1,10):
    print(factorial(i))

1
2
6
24
120
720
5040
40320
362880

In [12]:
#addition function
def add(a,b):
    c=a+b
    return c

In [13]:
add(2,6)#we have to give sufficient arguement otherwise it gives error

8

In [17]:
def prime(n):
    for x in range(2,n):
        if n%x==0:
            break
        else:
            return True
    return False

In [18]:
prime(19)

True

In [19]:
prime(100)

False

In [20]:
for i in range(11,25):
    print(i,"is prime:-",prime(i))

11 is prime:- True
12 is prime:- False
13 is prime:- True
14 is prime:- False
15 is prime:- True
16 is prime:- False
17 is prime:- True
18 is prime:- False
19 is prime:- True
20 is prime:- False
21 is prime:- True
22 is prime:- False
23 is prime:- True
24 is prime:- False

In [24]:
#global variable
#it define before the function creating
#it can be access in side the function @outside also
a=10
def f():
    a1=11
    print(a1)
f()
print(a)#global

11
10

In [25]:
x=11
def f():
    y=12
    print(x)
    print(y)
f()
x=13
print(x)

11
12
13

In [26]:
x=11
def f():
    y=12
    print(x)
    print(y)
x=13
print(x)#here x value also have been changed for function
f()

13
13
12

In [29]:
x=110
def f():
    y=120
    print(x)
    print(y)

print(x)
f()

110
110
120

ARGUMENT IN FUNCTION

In [11]:
# In python we have facility to return more than 1 values
def f(a,b):# function return addition & substraction
    """this function return addition & substraction"""
    return a+b,a-b

In [3]:
x=f(30,21)
print(x)

(51, 9)

In [4]:
z,y=f(10,20)
print(z)
print(y)

30
-10

In [5]:
type(f(30,21))

tuple

In [7]:
f.__doc__#object__doc__

In [12]:
print(f.__doc__)"""it shows the line in triple quote """

this function return addition & substraction

In [13]:
#Position Arguement
def g(a,b,c):
    return a+b-c
x=g(10,20,30)
print(x)

0

In [14]:
x=g(20,10,30)
print(x)

0

In [15]:
x=g(10,30,20)
print(x)

20

In [16]:
#the no. of argument must be same
# if no. of arguement not same=> Error
g(21)

TypeError: g() missing 2 required positional arguments: 'b' and 'c'

In [17]:
#keyword arguments 
#f(name, age, dob, marital status, phone_number)

#call it===> any order is possible now with keyword as argument name
#f(age=34, name="pankaj", phone_number=9627901***, marital_status='single')

In [18]:
def f(a,b,c,d):
    return a+b+c+d
f(10,20,30,40)

100

In [19]:
f(b=20,d=40,a=10,c=30)

100

In [20]:
f(b=20,a=10,30,40)

SyntaxError: positional argument follows keyword argument (1173309205.py, line 1)

In [21]:
f(20,40,a=10,c=30)

TypeError: f() got multiple values for argument 'a'

In [22]:
f(10,20,d=40,c=30)#we can always write positional arguement 1st then keyword arguement

100

In [23]:
#in general we have to give same no. of arguement in input otherwise we get Error
#to overcome this thing we have "default argument"
#in default argument we have to define the default value at the time of function creation
def f(a,b,c=0):
    return a+b+c
f(10,20)#here we don't get Error,we get 30

30

In [24]:
f(10,20,30)#when we assign the value of "c" then it take that insted of default value 0

60

In [25]:
#suppose we have to take 'N' no. of input
# in that case we can use *n in function
def f(*n):
    sum=0
    for x in n:
        sum=sum+x
    return sum

In [26]:
f(10,20)

30

In [27]:
f(10,20,30,40,50,50,60,70)

330

In [28]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [29]:
def f(**kwargs):
    for k,v in kwargs.items():
        print("key is", k, "value is",v)
        
#dict.items() =>>pairs key-value
#dict.keys()
#dict.values()

In [35]:
f(a=1, b="pankaj", c=12.34, d=[1,2,3,4])

key is a value is 1
key is b value is pankaj
key is c value is 12.34
key is d value is [1, 2, 3, 4]

In [36]:
#Anonymous function
#lambda==>syntax==>[lambda argument: expression]
s=lambda x:x*x*x
print(s(4))

64

In [37]:
s=lambda a,b:a*b
print(s(20,30))

600

In [38]:
s=lambda a,b:a if a>b else b
print(s(3,4))

4

In [42]:
#filter
def f(x):
    if x%3==0:
        return True
    else:
        return False
output=list(filter(f,[11,12,13,14,15]))
print(output)

[12, 15]

In [45]:
out=list(filter(lambda x :x%3==0,[11,12,13,14,15]))
out

[12, 15]

In [46]:
#map
def f(x):
    return x*x*x
output=list(map(f,[11,12,13,14,15]))
print(output)

[1331, 1728, 2197, 2744, 3375]

In [47]:
out=list(map(lambda x :x*x*x,[11,12,13,14,15]))
out

[1331, 1728, 2197, 2744, 3375]

In [48]:
a=[1,2,3,4,5]
b=[6,7,8,9]
out=list(map(lambda x,y :x+y,a,b))
out

[7, 9, 11, 13]

In [49]:
def f(x):
    return x*x*x
g=f

In [50]:
f(2)

8

In [51]:
g(2)

8

In [52]:
def f1():
    print("start1")
    f2()
    print("end1")
def f2():
    print("start2")
    f3()
    print("end2")
def f3():
    print("Start3")
    print("End3")
    
f1()

start1
start2
Start3
End3
end2
end1

In [2]:
def add(a,b=10,c=5):
    return a+b+c

add(a=21)

36