
# DICTIONARY

In [1]:
#duplicates keys not allowed 
#heterogn objext are allowed for both keys and values #it is not mandatory that all keys are of same type 
#it is not mandatory that all values are of same type
#insertion order is not preserved #mutable
#dynamic ==>add, remove
#indexing and slicing concept is not there in case of dict
#
d={}
print(type(d))

<class 'dict'>

In [2]:
d={1:'Amit',2:'Sumit',3:'Jay'}
print(d)

{1: 'Amit', 2: 'Sumit', 3: 'Jay'}

In [6]:
(1,'joy')
(2,'Esma')
(3,'ceci')
l=[(1,'joy'),(2,'Esma'),(3,'ceci')]
print(dict(l))

{1: 'joy', 2: 'Esma', 3: 'ceci'}

In [8]:
#creating a dictionary by providing a list of keys
d=dict.fromkeys(["pankaj",12,13.4])#fromkeys()==>this key word is used for assign keys and values to a dictionary
d#if we only assign keys then by default it return "None" as value

{'pankaj': None, 12: None, 13.4: None}

In [11]:
d=dict.fromkeys([1,2,3,4],0)
d

{1: 0, 2: 0, 3: 0, 4: 0}

In [12]:
d={1: 23, 2: 71, 'pankaj':[1,2,3,4], 4: 0}
d

{1: 23, 2: 71, 'pankaj': [1, 2, 3, 4], 4: 0}

In [13]:
#accecing elements
d={1: 23, 2: 71, 'pankaj':[1,2,3,4], 'hari': [23,34,54,56]}
d[1]

23

In [14]:
d['pankaj']

[1, 2, 3, 4]

In [15]:
d[100]

KeyError: 100

In [16]:
#another way to accese elements
d

{1: 23, 2: 71, 'pankaj': [1, 2, 3, 4], 'hari': [23, 34, 54, 56]}

In [17]:
d.get(1)

23

In [18]:
d.get('pankaj')

[1, 2, 3, 4]

In [20]:
print(d.get(100))

None

In [21]:
#it state if "d"dictionary contain 100 key then it return it's value otherwise it return 0
print(d.get(100,0))

0

In [22]:
type(d.keys())

dict_keys

In [24]:
#d.keys()==>is used for extract all the keys from a dictionary
d.keys()

dict_keys([1, 2, 'pankaj', 'hari'])

In [23]:
#d.values()==>is used for extract all the values from a dictionary
d.values()

dict_values([23, 71, [1, 2, 3, 4], [23, 34, 54, 56]])

In [25]:
type(d.values())

dict_values

In [27]:
#d.items()==>is used for extract all the (key:values)pairs from a dictionary
d.items()

dict_items([(1, 23), (2, 71), ('pankaj', [1, 2, 3, 4]), ('hari', [23, 34, 54, 56])])

In [28]:
#how to iterate on dict
for x in d:#here x iterate the key
    print(x)

1
2
pankaj
hari

In [32]:
#how to iterate on dict
for x in d:#here x iterate the key
    print(d[x])#==>iterated keys value

23
71
[1, 2, 3, 4]
[23, 34, 54, 56]

In [33]:
a={}
print(a[1])

KeyError: 1

In [35]:
a[1]='Amit'
a

{1: 'Amit'}

In [36]:
a[2]='Pankaj'
a

{1: 'Amit', 2: 'Pankaj'}

In [41]:
a={1: 23, 2: 71, 'pankaj': 21}
b={1: 'Amit', 2: 'joy'}
a.update(b)#from common pairs==>pairs b comes to a

In [42]:
a

{1: 'Amit', 2: 'joy', 'pankaj': 21}

In [51]:
#write a code check word frequency in a dictionary format
s=input("Enter a string :-")
l=[]
d={}
l=s.split()
for word in l:
    if word in d:
        d[word]=d[word]+1
    else:
        d[word]=1
print(d)

Enter a string :-raju gote maghia au raju tw parama magia
{'raju': 2, 'gote': 1, 'maghia': 1, 'au': 1, 'tw': 1, 'parama': 1, 'magia': 1}

In [55]:
a={1: 23, 2: 71, 'pankaj': 21}
del a[1]
a

{2: 71, 'pankaj': 21}

In [56]:
a.clear()
a

{}