# DATA TYPE(NEW TYPE)

BASIC DATATYPE and Operations(LIST,TUPLE,SET,DICTIONARY)

In [2]:
#LIST:-
#Group of element
#heteroginious data
#indexing
#duplicate element allow
#Syntax:-[ , , ,]
l=[1,12.4,2+4j,'banty',True]
print(l)

[1, 12.4, (2+4j), 'banty', True]

In [4]:
#indexing
print(l[0],l[-5])
print(l[1],l[-4])
print(l[2],l[-3])
print(l[3],l[-2])
print(l[4],l[-1])

1 1
12.4 12.4
(2+4j) (2+4j)
banty banty
True True

In [7]:
#slicing
l[1:5]

[12.4, (2+4j), 'banty', True]

In [10]:
#append()==>used to add an element to a list at the end
l.append(3)
print(l)

[1, 12.4, (2+4j), 'banty', True, 35, 35, 3]

In [12]:
#remove()==> used to remove an element from a list
#it only remove the 1st occurance from a list(if there are duplicate element available)
l.remove(35)
print(l)

[1, 12.4, (2+4j), 'banty', True, 3]

In [13]:
#TUPLE:-
#same as LIST but cant't be changed means no further change
#Syntax:-( , , ,)
t=(1,12.4,2+4j,'banty',True)
print(type(t))

<class 'tuple'>

In [14]:
t[0]=12 #immutable

TypeError: 'tuple' object does not support item assignment

In [1]:
#range()==> it indicates a sequence of number
#format1
range(5)#it indicates that 0 to 5-1

range(0, 5)

In [3]:
#format2
for element in range(0,5):print(element)#loop

0
1
2
3
4

In [4]:
#format3
#range(start,end,step)
for element in range(5,20,2):print(element)

5
7
9
11
13
15
17
19

In [5]:
#SET:-
#Group of element
#heteroginious data
#no indexing(order does not matter)
#duplicate element not allow
#no slicing
#mutable
#Syntax:-{ , , , }
s={1,2,3,12.5,"pankaj"}
print(s)

{1, 2, 3, 'pankaj', 12.5}

In [6]:
a=set("pankaj")
print(a)#not in order

{'n', 'j', 'k', 'p', 'a'}

In [7]:
s.add(7)
print(s)

{1, 2, 3, 'pankaj', 7, 12.5}

In [8]:
s.remove("pankaj")

In [9]:
print(s)

{1, 2, 3, 7, 12.5}

In [10]:
#frozenset()==>same as set but it is immutable
#no add
#no remove
s={1, 2, 3, 7, 12.5}
x=frozenset(s)

In [11]:
type(x)
print(x)

frozenset({1, 2, 3, 7, 12.5})

In [12]:
x.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

In [15]:
#DICTIONARY:-
#Group of element
#heteroginious data
#indexing
#duplicate key not allow,but multiple key may have same value 
#slicing
#mutable
#Syntax:-{key1:value1,key2:value2,key3:value3.....}
d={1:'amit',2:'hritik',3:'amit',4:'raju'}
print(d)

{1: 'amit', 2: 'hritik', 3: 'amit', 4: 'raju'}

In [16]:
type(d)

dict

In [17]:
d[1]='arun'#changing the value of key 1

In [18]:
print(d)

{1: 'arun', 2: 'hritik', 3: 'amit', 4: 'raju'}