# TUPLE

In [2]:
"""
=>Same as list but it is immutable
=>Duplicate allow
=>Order preserve
=>Slicing
=>Indexing
=>Heterogenious

"""
t=(1,2,3,4)
print(type(t))

<class 'tuple'>

In [3]:
t=1,2,3#paranthesis is optional.if we assigning multiple value to a variable then by default it condider as tuple 
print(type(t))

<class 'tuple'>

In [4]:
a=(10+20)*30
b=(10+20)*(30)
print(a)
print(b)

900
900

In [5]:
#paranthesis expression
#paranthesis value ke sath ==>(30)allowed
# (30) ==> value
t=(10)
print(t)
print(type(t))

10
<class 'int'>

In [6]:
#with a sigle value we can create a tuple like this:-
t=(10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [8]:
#t=()==>indicates an empty tuple
t=()
a=(10,)
b=(10,20,30)
c=(10,20,'pankaj')
d=(10,20,10)
e=tuple('pankaj')
print(t)
print(a)
print(b)
print(c)
print(d)
print(e)

()
(10,)
(10, 20, 30)
(10, 20, 'pankaj')
(10, 20, 10)
('p', 'a', 'n', 'k', 'a', 'j')

In [9]:
#just like list ==> '+' work as concatinaton operator & '*' as repitation operator
a=(10,20,30)
b=a*3
print(b)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [10]:
a=(10,20,30)
b=(1,2,3,4)
print(a+b)

(10, 20, 30, 1, 2, 3, 4)

In [11]:
#indexing & slicing same as list
a=(10, 20, 'pankaj')
print(a[2])

pankaj

In [12]:
a[100]

IndexError: tuple index out of range

In [13]:
a=(10, 20, 'pankaj',12.4,233,'a')
print(a[2:4])

('pankaj', 12.4)

In [14]:
#immutable
a[0]='javed'

TypeError: 'tuple' object does not support item assignment

In [15]:
a=[1,2,3]+(1,3,4)

TypeError: can only concatenate list (not "tuple") to list

In [16]:
a=(2,3,4,5)+[2,3,4,56,1]

TypeError: can only concatenate tuple (not "list") to tuple

In [17]:
#important function on tuple
#add,remove,insert==>no such method on tuple(immutable)
#len()==>list,string,tuple...
a=(2,3,4,5)
print(len(a))

4

In [18]:
a=((2,3,4),5,'pankaj')
#1st element is tuple
#2nd elemnt is int
#3rd element is string
print(len(a))

3

In [19]:
a[0]

(2, 3, 4)

In [20]:
#count()==>used to count frequency of an element
a=((2,3,3),5,'pankaj',3)
print(a.count(3))

1

In [21]:
a=(2,3,4,5)
b=list(a)
print(b)

[2, 3, 4, 5]

In [22]:
#it return list
a=(12,3,-23,0)
b=sorted(a)
print(a)
print(b)

(12, 3, -23, 0)
[-23, 0, 3, 12]

In [23]:
a=('pankaj')
b=sorted(a)
print(b)

['a', 'a', 'j', 'k', 'n', 'p']

In [25]:
a=(12,3,-23,0)
b=sorted(a,reverse=True)
print(b)

[12, 3, 0, -23]

In [26]:
max(a)

12

In [27]:
min(a)

-23

In [29]:
#packing
a=1
b=21.4
c='pankaj'
d=10
t=a,b,c,d
print(t)

(1, 21.4, 'pankaj', 10)

In [30]:
#unpacking
a,b,c,d=t
print(a,b,c,d)

1 21.4 pankaj 10

In [31]:
a,b=t#error bcz R.H.S. has 4 element bt L.H.S. has insufficient variable
#at the time of unpacking error has been occure

ValueError: too many values to unpack (expected 2)

In [32]:
#comprehension concept does not work on tuple

# SET

In [33]:
"""
=>mutable
=>Duplicate NOT allow
=>NO,Order preserve(but we can sort)
=>NO,Slicing
=>NO,Indexing
=>Heterogenious

"""

'\n=>mutable\n=>Duplicate NOT allow\n=>NO,Order preserve\n=>NO,Slicing\n=>NO,Indexing\n=>Heterogenious\n\n'

In [34]:
#Empty set==>set()
s=set()
print(type(s))

<class 'set'>

In [35]:
a={1,2}
print(a)
print(type(a))

{1, 2}
<class 'set'>

In [36]:
#no order
s=set('pankaj')
print(s)

{'p', 'n', 'j', 'a', 'k'}

In [38]:
a=set(range(1,10))
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
#function
#set is dynamic ==> add,remove an element
a=set()
a.add(1)
print(a)

{1}

In [40]:
a.add(2)
print(a)

{1, 2}

In [41]:
#duplicate elemnt add has no effect
a.add(1)
print(a)

{1, 2}

In [42]:
a.add([1,21.4,'pankaj'])

TypeError: unhashable type: 'list'

In [43]:
a.add('pankaj')
print(a)

{1, 2, 'pankaj'}

In [44]:
#update
#it is used to push element from the sequence
a.update([10,20,30])
print(a)

{1, 2, 10, 'pankaj', 20, 30}

In [45]:
a.update((50,60,80))
print(a)

{1, 2, 10, 'pankaj', 80, 50, 20, 60, 30}

In [46]:
a={2,3,4,5}
b=a.copy()
b

{2, 3, 4, 5}

In [47]:
#set==> disordered
#pop()==>remove any element(not fix)i.e. randomly
a.pop()
print(a)

{3, 4, 5}

In [48]:
#remove()==>not return any thing
a.remove(3)
a

{4, 5}

In [49]:
s={1,2,3,4,5,6}
s.discard(100)

In [50]:
s.clear()
s

set()

In [54]:
#Union,Intersection
#in this method no set will be updated
a={1,2,3}
b={2,4,5,6}
print(a)
print(b)
print("Union is:-")
print(a.union(b))

{1, 2, 3}
{2, 4, 5, 6}
Union is:-
{1, 2, 3, 4, 5, 6}

In [53]:
a={1,2,3}
b={2,4,5,6}
print(a)
print(b)
print("Intersection is:-")
print(a.intersection(b))

{1, 2, 3}
{2, 4, 5, 6}
Intersection is:-
{2}

In [55]:
#by using sign we can write
a|b#union

{1, 2, 3, 4, 5, 6}

In [56]:
a&b#intersection

{2}

In [58]:
#'a' difference 'b'(a-b)
a={1,2,3}
b={2,4,5,6}
print(a)
print(b)
print("'a' difference 'b' is:-")
print(a.difference(b))

{1, 2, 3}
{2, 4, 5, 6}
'a' difference 'b' is:-
{1, 3}

In [60]:
#'b' difference 'a'(b-a)
a={1,2,3}
b={2,4,5,6}
print(a)
print(b)
print("'a' difference 'b':-")
print(b.difference(a))

{1, 2, 3}
{2, 4, 5, 6}
'a' difference 'b':-
{4, 5, 6}

In [61]:
# symmetric difference(a^b)
a={1,2,3}
b={2,4,5,6}
print(a)
print(b)
print("'a' symmetric difference 'b':-")
print(b.symmetric_difference(a))

{1, 2, 3}
{2, 4, 5, 6}
'a' symmetric difference 'b':-
{1, 3, 4, 5, 6}

In [63]:
#comprehension
s=(2*i for i in range(1,10))
print(s)

<generator object <genexpr> at 0x000001C5DA8F5F20>