# LIST

In [ ]:
"""

=>Duplicate allow
=>Order preserve
=>Slicing
=>Indexing
=>Mutable
=>Heterogenious

"""

In [15]:
#Creating a List
#Empty List
l=[]
print(l)
print(type(l))

[]
<class 'list'>

In [2]:
#using List()
l=list(range(1,10,2))
print(l)

[1, 3, 5, 7, 9]

In [5]:
#eval
l=eval(input("enter"))
print(l)

enter[1,2,3,4]
[1, 2, 3, 4]

In [7]:
#using a for loop
l=[]
s=input("enter a list")
for no in s.split():
    l.append(int(no))
print(l)

enter a list1 2 3 4 5
[1, 2, 3, 4, 5]

In [10]:
#specific number of data want to enter into a list
l=[]
n=int(input("Enter the no of data want to enter to a list"))
for x in range(n):
    l.append(int(input("Enter Number")))
print(l)

Enter the no of data want to enter to a list5
Enter Number1
Enter Number2
Enter Number3
Enter Number4
Enter Number5
[1, 2, 3, 4, 5]

In [11]:
#List Comprehension
l=[0 for x in range(8)]
print(l)

[0, 0, 0, 0, 0, 0, 0, 0]

In [12]:
l=[x for x in range(8)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7]

In [13]:
l=[x*x for x in range(8)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49]

In [14]:
#adding element in a list
#append()==> it's use for adding a key word in a list
#it add a new data at the end of the list
s=[0, 1, 4, 9, 16, 25, 36, 49]
s.append(23)
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 23]

In [18]:
#insert(indexNo.,"data")==>it's also use for adding a data into a list
# but in insert we can add a data to a specific index
l=[1, 2, 3, 4, 5]
l.insert(2,7)
print(l)

[1, 2, 7, 3, 4, 5]

In [19]:
l.insert(0,"pankaj")
print(l)

['pankaj', 1, 2, 7, 3, 4, 5]

In [21]:
#extend()==>it's used for adding two list
a=[1,2,3,4]
b=[4,5,6,'abhi']
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 4, 5, 6, 'abhi']
[4, 5, 6, 'abhi']

In [22]:
#removing element in a list
#remove()==> it's delete only 1st given element of the list
# it's return error if  given element is not present
l=[12,34,55,43,55,23]
l.remove(12)
print(l)

[34, 55, 43, 55, 23]

In [23]:
l.remove(55)
print(l)

[34, 43, 55, 23]

In [25]:
#pop(indexNo.)==> it remove & return the last element from the list
a=[1,2,3,4]
l=a.pop(2)
print(l)

3

In [26]:
#but remove don't remove anything it return 'none'
a=[1,2,3,4]
l=a.remove(2)
print(l)

None

In [29]:
# None keyword is an object, and it is a data type of the class NoneType
#The del keyword is used to delete objects
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [30]:
del a
a

NameError: name 'a' is not defined

In [34]:
a=[1,2,3,4]
a= None
a

In [35]:
a=[2,3]
a

[2, 3]

In [36]:
#len()==> define the length of the list
a=[1,2,3,4,'pankaj']
print(len(a))

5

In [38]:
#index()==>it show the index no. of the list
#if the given element not present in the list then it show error
print(a.index('pankaj'))

4

In [39]:
#membership
if "nirajee" in a:
    print("nirajee is present at position",a.index("nirajee"))
else:
    print("not found nirajee")

not found nirajee

In [40]:
#reverse()==>it is reverse the element of the list
a=[1,2,3,4]
a.reverse()
print(a)

[4, 3, 2, 1]

In [41]:
#sort()==>it is use for shorting the list numbers in incresing order
a=[23,-56,34,-51]
a.sort()
print(a)

[-56, -51, 23, 34]

In [43]:
a=[23,-56,34,-51,0,31]
a.sort(reverse=True)
print(a)

[34, 31, 23, 0, -51, -56]

In [11]:
#aliasing concept
#in this concept both the object inicating to a common list
#in this concept problem is when we changing one object value it,s automatically change the other one value
x=[10,20,30,40]
y=x
id(x)

2273175774080

In [12]:
id(y)

2273175774080

In [13]:
x[0]=21
print(y)

[21, 20, 30, 40]

In [19]:
#to get rid of this problem==>cloning
#creating a new object with same content
#1st way is slicing()
#2nd way is copy()
a=[1,2,3,4,5,6]
b=a[::]
#not having same id

In [17]:
print(b)
id(b)

[1, 2, 3, 4, 5, 6]

2273175374016

In [20]:
id(a)

2273175807104

In [21]:
x=[1,'pankaj',34]
y=x.copy()
print(y)

[1, 'pankaj', 34]

In [22]:
id(x)

2273175807616

In [23]:
id(y)

2273175801920

In [24]:
#relational operator <=,>=,<,>
#it operate on the basis of the 1st elment of the both list
a=[1,2,3,4,5]
b=[32,1,34,6]
a>b

False

In [25]:
a<b

True

In [26]:
l=[1,2,3]
l.clear()#==>clear the element from list
l

[]

# MULTI DIMENTIONAL LIST

In [3]:
#a list can contain another list as a element
l=[1,2,'pankaj',['ram',23,4]]
print(l)

[1, 2, 'pankaj', ['ram', 23, 4]]

In [4]:
a=[[1,2,3,4],[5,6]]
b=[[1,2,3],[3,4,5,6,7]]
print(a)
print(b)

[[1, 2, 3, 4], [5, 6]]
[[1, 2, 3], [3, 4, 5, 6, 7]]

In [5]:
print(a[0])

[1, 2, 3, 4]

In [7]:
print(b[1][3])#second list's 4th element from b

6

In [9]:
a=[[1,2,3,4],[5,6]]
print(len(a))#it only show no of list in a
print(len(a[0]))#it show the 1st list contain how many elemnt

2
4

In [2]:
#MULTI DIMENTIONAL LIST element entry
l=[]
m=int(input("Enter the dimension"))#no of list
n=int(input("Enter the dimension"))#element no
for i in range(m):
    new_row=[int(i) for i in input().split()]
    l.append(new_row)
print(l)

Enter the dimension2
Enter the dimension3
1 2 3
4 5 6
[[1, 2, 3], [4, 5, 6]]

In [2]:
l=[]
m=int(input("Enter no of list"))#no of list
n=int(input("Enter element no"))#element no
for i in range(m):
    print("Enter",n,"no:-")
    p=[int(input()) for j in range(n)]
    l.append(p)
print(l)

Enter no of list2
Enter element no3
Enter 3 no:-
1
2
3
Enter 3 no:-
4
5
6
[[1, 2, 3], [4, 5, 6]]